<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CRITICALVALUESBSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
<!--      嘉和危急值上报服务地址-->
      <endpoint address="http://172.16.80.180:57772/csp/jhip/JHIP.CRITICALVALUES.BS.CRITICALVALUESBS.cls"
        binding="basicHttpBinding" bindingConfiguration="CRITICALVALUESBSSoap"
        contract="JhCrisisService.CRITICALVALUESBSSoap" name="CRITICALVALUESBSSoap" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="BbxxOdbcConnStr" value="DSN=Bbxx;UID=ljbl;PWD=ljbl;"/>
  </appSettings>
</configuration>